body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  background-color: #fff;
  font-size: 24px;
}

h1 {
  text-align: center;
  font-size: 45px;
  margin-top: 0;
}

p {
  width: 100%;
  text-align: center;
  color: #020024;
}

button {
  width: 350px;
  height: 100px;
  display: block;
  background-color: #020024;
  margin: 0 auto;
  border-radius: .25rem;
}

small {
  font-size: 12px;
}

.gradient {
  color: #fff;
  text-shadow: 3px 1px 5px rgba(150, 150, 150, 1);  
  height: 200px;
  line-height: 200px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
}